@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HermeneusOne";
  src: url('/fonts/hermeneusOne-regular.ttf');
}

:root {}

body {}

.crossbox {
  position: relative;
  background-image: repeating-linear-gradient(
    45deg,
    white,
    white 2px,
    transparent 2px,
    transparent 10px /* Długość przerwy */
  );
}
